#ojo que esto de aqui es para que cambie de colores junto al wallpaper, necesitan pywall (o algo asi se llamaba XD)
@import "/home/jpablo/.cache/wal/colors-waybar.css";

:root {
  --border-radius: 20px;
  --cc-bg: transparent;

  --widget-background: rgba(0, 0, 0, 0.7);
  --noti-bg-alpha: 0.6;

  --accent-color: @color4;
  --padding: calc(var(--border-radius) / 2);

  --border: 2px solid var(--accent-color);
}

.control-center {
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.4);
  margin: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: var(--padding);
  border: var(--border);
  color: @foreground;
}

.widget-title > label {
  color: var(--accent-color);
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";
}

.control-center-list-placeholder {
  padding: var(--border-radius);
  color: @color7;
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
  background: rgba(255, 255, 255, 0.02);
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}

.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  background: var(--accent-color);
  margin-top: var(--padding);
}

.widget-mpris > box > button {
  color: var(--accent-color);
}

.widget-mpris > box > button:hover {
  background: var(--accent-color);
  color: @background;
}

.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  background: var(--widget-background);
  border-radius: var(--border-radius);
  margin: 0 var(--padding);
}

.widget-mpris-player:only-child {
  margin: 0;
}

.widget-title > button {
  background: var(--accent-color);
  color: @background;
  border-radius: 10px;
  padding: 5px 10px;
}
