* {
    font-family: "JetBrainsMono Nerd Font", "Roboto", "Helvetica", "Arial", sans-serif;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

window#waybar {
    background: transparent;
}

#custom-arch,
#workspaces,
#clock,
#custom-updates,
#tray,
#pulseaudio,
#bluetooth,
#network,
#battery,
#custom-theme,
#custom-power {
background-color: rgba(43, 48, 59, 0.9);
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
padding: 0px 10px;
margin: 4px 3px;
color: #88c0d0;
font-size: 13px;
}

#clock:hover,
#custom-arch:hover,
#pulseaudio:hover,
#network:hover,
#custom-theme:hover,
#custom-power:hover {
background-color: rgba(67, 76, 94, 0.95);
border: 1px solid #88c0d0;
padding: 0px 15px;
}

#custom-arch:active,
#clock:active,
#pulseaudio:active,
#custom-theme:active,
#custom-power:active {
background-color: #81a1c1;
color: #2e3440;
margin: 6px 5px;
padding: 0px 5px;
}

#clock {
color: #ebcb8b;
font-weight: bold;
}

#workspaces {
padding: 0px 5px;
}

#workspaces button {
padding: 0 5px;
font-size: 12px;
color: #4c566a;
transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.68);
}

#workspaces button:hover {
color: #88c0d0;
}

#workspaces button.active {
color: #81a1c1;
padding: 0 12px;
background: rgba(129, 161, 193, 0.1);
border-radius: 8px;
}

#custom-power {
color: #bf616a;
}

tooltip {
    border-radius: 10px;
    background-color: #2e3440;
    font-size: 12px;
    border: 1px solid #88c0d0;
}
