@import "/home/jpablo/.cache/wal/colors-waybar.css";

@define-color bg_bar rgba(15, 15, 20, 0.65);
@define-color bg_hover rgba(255, 255, 255, 0.1);
@define-color accent @color4;
@define-color text @foreground;

* {
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono NFP";
    font-weight: 600;
    font-size: 13px;
    border: none;
    transition: all 0.2s ease-in-out;
}

window#waybar {
    background: @bg_bar;
    color: @text;
    border-radius: 20px;
    border: 2px solid @accent;
}

#workspaces button {
color: rgba(255, 255, 255, 0.3);
padding: 0 8px;
margin: 4px 3px;
border-bottom: 3px solid transparent;
}

#workspaces button.active {
color: @accent;
border-bottom: 3px solid @accent;
border-radius: 2px;
}

#workspaces button.urgent {
color: #ff5555;
}

#custom-arch, #cpu, #memory, #tray,
#clock, #pulseaudio, #bluetooth, #custom-notification,
#network, #battery, #custom-power {
padding: 0 10px;
background: transparent;
}

#custom-arch:hover, #cpu:hover, #memory:hover,
#clock:hover, #pulseaudio:hover, #bluetooth:hover, #custom-notification:hover,
#network:hover, #battery:hover, #custom-power:hover {
background: @bg_hover;
border-radius: 10px;
}
