@import "/home/jpablo/.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrainsMono Nerd Font", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

window#waybar {
    background-color: @background;
    border-bottom: 2px solid @color4;
    color: @foreground;
}

#clock,
#pulseaudio,
#bluetooth,
#network,
#battery,
#tray,
#custom-arch,
#custom-updates,
#custom-theme,
#custom-power {
background: rgba(0, 0, 0, 0.1);
color: @color4;
border-radius: 12px;
padding: 0 12px;
margin: 4px 3px;
border: 1px solid @color4;
}

#clock:active,
#pulseaudio:active,
#bluetooth:active,
#network:active,
#battery:active,
#custom-arch:active,
#custom-updates:active,
#custom-theme:active,
#custom-power:active {
background: @color4;
color: @background;
margin: 6px 5px;
padding: 0 8px;
}

#custom-arch {
font-size: 16px;
background: transparent;
border: none;
color: @color4;
}

#workspaces {
background: rgba(0, 0, 0, 0.05);
border-radius: 12px;
margin: 4px;
}

#workspaces button {
padding: 0 8px;
color: @color8;
border-radius: 10px;
}

#workspaces button.active {
color: @color4;
background: rgba(255, 255, 255, 0.1);
padding: 0 16px;
}

#custom-power {
color: @color1;
}

#custom-theme {
color: @color6;
}

#tray {
background: @background;
}
